[Unit]
Description=COCM Backend Service
After=network.target

[Service]
Type=simple
User=uphcs
WorkingDirectory=/home/uphcs/Desktop/cocm/backend
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cocm-backend
Environment=NODE_ENV=development

[Install]
WantedBy=multi-user.target 